.first {
  text-align: center;
  font-style: normal;
}

.first img {
  float: left;
  margin: 7px;
  border: solid black 3px;
  padding: 4px;
  background-color: #9BD503;
}

.second ul {
  float: left;
}
