.first {
  text-align: center;
  font-style: normal;
}

.first h2 {
  font-size: 75px;
}

.first h2 {
  padding: 3px;
}

.first img {
  float: left;
  margin: 7px;
  border: solid black 3px;
  padding: 4px;
  background-color: #9BD503;
}

.second ul {
  float: left;
}

.second ul {
  text-align: left;
  list-style-type: square;
}

.second ul a {
  list-style-type: none;
}

.third ul {
  list-style-type: none;
}

.third ul ul {
  list-style-type: disc;
}

ul ul {
  list-style-type:disc;
}

.fourth h2 {
  text-align: center;
}

.fourth h3 {
  text-align: center;
}

.fifth h3 {
  text-align: center;
}
