.first {
  text-align: center;
  font-style: normal;
}

.first h2 {
  font-size: 75px;
}

.first h2 {
  padding: 3px;
  color: black;
}

.first img {
  float: left;
  margin: 7px;
  border: solid black 3px;
  padding: 4px;
  background-color: #9BD503;
}

.second ul {
  float: left;
}

.second ul {
  text-align: left;
  list-style-type: square;
}

.second ul a {
  list-style-type: none;
}

.third ul {
  list-style-type: none;
}

.third ul ul {
  list-style-type: disc;
}

ul ul {
  list-style-type:disc;
}

.fourth h2 {
  text-align: center;
}

.fourth h3 {
  text-align: center;
}

.fifth h3 {
  text-align: center;
}

.seventh {
  color: white;
}

.seventh ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

.seventh li {
    float: left;
}

.seventh li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
.seventh li a:hover {
    background-color: #111;
}
